<header>
    <div class="navbar">
        <nav class="indigo">
            <div class="nav-wrapper">
                    <!--<a href="/" class="brand-logo">{{title}}</a>-->
                    <a routerLink="/" class="brand-logo"><img src="assets/background/logo.png" class="center-in-bar" /></a>
                    <a href="#" data-activates="nav-mobile" class="button-collapse" materialize="sideNav"
                    [materializeParams]="materializeParams"><i class="material-icons">menu</i>
                    </a>
                <ul class="right hide-on-med-and-down">
                    <li><a routerLink="/areas">Áreas</a></li>
                    <!--<li><a routerLink="/inscripcion">Inscríbete</a></li>-->
                    <li><a class="blue light-blue btn" href="http://2017-ferianacional-auscess.eventbrite.com.ar" target="_BLANK">Inscríbete</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <ul><li><a class="logo logo-in-nav" href="#"><img src="assets/background/logo.png"></a></li></ul>
                    <li class="divider"></li>
                    <!--<li><a routerLink="/inscripcion">Inscríbete</a></li>-->
                    <li><a href="http://2017-ferianacional-auscess.eventbrite.com.ar" target="_BLANK">Inscríbete</a></li>
                    <li><a routerLink="/areas">Áreas</a></li>
                    <li class="divider"></li>
                    <li><a href="assets/extras/CONVOCATORIA-FNSCESUB-UMSS-2017.pdf"  >Convoctoria</a></li>
                    <li><a href="assets/extras/Comunicado 10-07-17.pdf" >Ampliación</a></li>
                    <li><a href="assets/extras/Manual-Formulario-en-linea-Feria-AUSCESS-1-2017.pdf" >Manual de Registro</a></li>
                    <li><a href="assets/extras/FORMATO DE PRESENTACIÓN DE PROYECTOS DE INVESTIGACIÓN.pdf" >Formato de Proyectos</a></li>
                    <li><a href="assets/extras/triptico-editable.zip" download>Formato Tríptico</a></li>
                    <li><a href="assets/extras/banner-proyecto-editable.psd" download>Formato Banner</a></li>
                    <!--banner-proyecto-editable.psd-->
                    <!--triptico-editable.zip-->

                </ul>
            </div>
        </nav>
    </div>       
</header>
