.center-in-bar {
    /*text-align:center;  center horizontally */
    vertical-align:middle; /* center vertically */
    width:52px;
    margin-top: 1%;
    margin-bottom: 5% ;
    margin-left: 15% ;
    margin-right: 1% ; 
}


.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle
}

.logo-in-nav{
  margin-left: 16% ;
  margin-right: 16% ; 
}