<header>
    <nav class="light-blue darken-4">
        <div class="nav-wrapper">
            <a class="brand-logo"> AUSCESS</a>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="right ">
                <!--<li><a href="#">Inicio</a></li>-->
                <!--<li><a href="#">Quienes Somos?</a></li>-->
                <li><a class="blue light-blue btn" href="http://2017-ferianacional-auscess.eventbrite.com.ar" target="_BLANK">Inscribete</a></li>
                <!--<li><a class="waves-effect waves-light btn" href="http://2017-ferianacional-auscess.eventbrite.com.ar" target="_BLANK">Inscribete</a></li>-->
            </ul>

            <ul class="side-nav" id="nav-mobile">
                <!--<li><a href="#">Inicio</a></li>-->
                <li><a class="blue light-blue btn" href="http://2017-ferianacional-auscess.eventbrite.com.ar" target="_BLANK">Inscribete</a></li>
            </ul>

        </div>
    </nav>
</header>