<h3>
  <p> Organiza </p>
</h3>

<div class="center">
  <img src="assets/societies/SCEBYF.png" class="cover"/>
  <img src="assets/societies/SCEM.png" class="cover"/>
  <img src="assets/societies/SCEOC.png" class="cover"/>
  <img src="assets/societies/SCEQYA.png" class="cover"/>
  <img src="assets/societies/SCESI.png" class="cover"/>
  <img src="assets/societies/SCET.png" class="cover"/>
  <img src="assets/societies/SCIAME.png" class="cover"/>
  <img src="assets/societies/SECIC.png" class="cover"/>
  <img src="assets/societies/SICEFA.png" class="cover"/>
  <img src="assets/societies/SOCCED.png" class="cover"/>
  <img src="assets/societies/SOCEII.png" class="cover"/>
  <img src="assets/societies/SOCIECS.png" class="cover"/>
  <img src="assets/societies/SOCIEPSI.png" class="cover"/>
  <img src="assets/societies/SOCIES.png" class="cover"/>
  <img src="assets/societies/SOCIESECO.png" class="cover"/>
  <img src="assets/societies/SCEM.png" class="cover"/>
</div>
