<h3 class="center"> <p> Organiza  y  Coorganiza</p> </h3>

<div class="center">
  <img src="assets/organizes/AUSCESS.png" class="organizes"/>
  <img src="assets/organizes/CUB.png" class="organizes"/>
  <img src="assets/organizes/UMSS-large.png" class="umss-logo"/>
  <img src="assets/organizes/DICyT.png" class="dicyt-logo"/>
</div>  

<h3 class="center"> <p> Participan </p> </h3>
<div class="center">
  <img src="assets/participants/UMRPSFX.png" class="cover"/>
  <img src="assets/participants/UMSA.png" class="cover"/>
  <img src="assets/participants/UMSS.png" class="cover"/>
  <img src="assets/participants/UAGRM.png" class="cover"/>
  <img src="assets/participants/UATF.png" class="cover"/>
  <img src="assets/participants/UTO.png" class="cover"/>
  <img src="assets/participants/UAJMS.png" class="cover"/>
  <img src="assets/participants/UAB.png" class="cover"/>
  <img src="assets/participants/UNSXX.png" class="cover"/>
  <img src="assets/participants/UAP.png" class="cover"/>
  <img src="assets/participants/UPEA.png" class="cover"/>
  <img src="assets/participants/UCB.png" class="cover"/>
  <img src="assets/participants/EMI.png" class="cover"/>
  <img src="assets/participants/UASB.png" class="cover"/>
  <img src="assets/participants/UPMAJS.png" class="cover"/>
</div>

<h3 class="center"> <p> Apoya </p> </h3>

<div class="center">
  <img src="assets/organizes/suecia.png" class="organizes"/>
</div>  

<div class="center">
  <img src="assets/societies/SCEBYF.png" class="cover"/>
  <img src="assets/societies/SCEM.png" class="cover"/>
  <img src="assets/societies/SCEOC.png" class="cover"/>
  <img src="assets/societies/SCEQYA.png" class="cover"/>
  <img src="assets/societies/SCESI.png" class="cover"/>
  <!--<img src="assets/societies/SCET.png" class="cover"/>-->
  <img src="assets/societies/SCIAME.png" class="cover"/>
  <img src="assets/societies/SECIC.png" class="cover"/>
  <img src="assets/societies/SICEFA.png" class="cover"/>
  <!--<img src="assets/societies/SOCCED.png" class="cover"/>-->
  <img src="assets/societies/SOCEII.png" class="cover"/>
  <img src="assets/societies/SOCIECS.png" class="cover"/>
  <img src="assets/societies/SOCIEPSI.png" class="cover"/>
  <img src="assets/societies/SOCIES.png" class="cover"/>
  <img src="assets/societies/SOCIESECO.png" class="cover"/>
</div>
