<p>
  organizes works!
</p>

<img src="assets/societies/SCEBYF.png" alt="W3Schools.com" width="104" height="142">

<ul class="logo-list list-inline last">
  <!--<li style="margin-top: 10px"><a href="https://www.usa.gov/about-the-us" target="_blank" alt="SCEBYF">-->
  <li style="margin-top: 10px"><a target="_blank" alt="SCEBYF">
    <img class="img"
      src="media/SCEBYF.png"
      alt=""/>
    </a>
  </li>
  <li style="margin-top: 10px"><a target="_blank" alt="SCEBYF">
    <img class="img"
      src="../media/SCEBYF.png"
      alt=""/>
    </a>
  </li>
  
</ul>