


.paseo {
  /*height: 100%;  */
  
  /*altura*/
  /*max-height: 171px;*/
  
  width: 100%; 
  /*max-width: 1200px; */
}
/*
.background {
    background: url(background.svg);

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}*/