<h3> <p> Descripción </p></h3>

<p align="justify">La Asociación Universitaria de Sociedades Científicas
Estudiantiles de San Simón, organiza su Primera Feria Nacional de Sociedades
Científicas del Sistema Universitario del país, para mostrar al público la
importancia de sus proyectos de investigación y a la vez concursan en áreas
como Ciencias Naturales y Exactas, Ciencias Médicas, Ingeniería y Tecnología,
Ciencias Agrícolas, Ciencias Sociales y Humanidades, ven, conoce y enterate de
los proyectos que estarán en exposición los días 13 y 14 de Julio en el paseo autonómico
de la Universidad Mayor de San Simón. </p>

<p align="justify">Si eres una Sociedad Científica y quieres participar en esta
1ra versión, descarga los manuales y convocatoria de la sección de links (más
abajo) y sigue los pasos de registro.</p>

<!--<p align="justify"><span>·<span >
</span></span> <span > data </span></p>-->
