<app-header></app-header>

<app-video-intro></app-video-intro>

<main>
    <article><div class="container">
            <app-info></app-info>
    </div></article>

    <article> <div class="container">
            <app-map></app-map>
    </div> </article>

    <article> <div class="container">
            <app-organizes></app-organizes>
    </div> </article>

    <article> <div class="container">
            <app-auspices></app-auspices>
    </div> </article>
    
    <article> <div class="container">
            <app-contact></app-contact>
    </div> </article>
</main>

<app-footer></app-footer>